body {
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 1px;
}

.cart {
	position: fixed;
	top: 0;
	right: -100%;
	width: 360px;
	min-height: 100vh;
	padding: 20px;
	background: white;
	box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
	transition: 0.3s;
	z-index: 10;
}

.cart.active {
	right: 0;
}

.cart-title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 2rem;
}

.cart-box {
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}

.cart-img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;
}

.detail-box {
	display: grid;
	row-gap: 0.5rem;
}

.cart-product-title {
	font-size: 1rem;
	text-transform: uppercase;
}

.cart-price {
	font-weight: 500;
}

.cart-quantity {
	border: 1px solid gray;
	border-radius: 5px;
	outline-color: aliceblue;
	width: 2.4rem;
	text-align: center;
	font-size: 1rem;
}

.cart-remove {
	font-size: 20px;
	color: indianred;
	cursor: pointer;
}

.total {
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
	border-top: 1px solid;
}

.total-title {
	font-size: 1rem;
	font-weight: 600;
}

.total-price {
	margin-left: 0.5rem;
}

#close-cart {
	position: absolute;
	top: 1rem;
	right: 0.8rem;
	font-size: 20px;
	cursor: pointer;
}

#banner-image {
	display: block;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.btn {
	letter-spacing: 1px;
}